@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:white;
}

nav {
    background-color: #F7F6F6;
    height: 65px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
}

.hamburger {
    position: sticky;
    display: none;
    background-color: transparent;
    visibility: none;
}

.menu_items {
    display: inline-flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #F7F6F6;
}

.logo_column, .menu_column, .phone_column {
    background-color: #F7F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_column li {
    background-color: #F7F6F6;
}

.phone_column a:hover {
    font-size: 25px;
    transition: all 0.5s ease;
}

.menu_items li a {
    text-decoration: none;
    color: black;
    background-color: #F7F6F6;
}

.main_list_item a {
    align-items: center;
    text-decoration: none;
    background-color: #F7F6F6;
    float: center;
    font-size: 20px;
}

.wht_list_item a, .how_must_list_item a, .connect_item a {
    align-items: center;
    text-decoration: none;
    background-color: #F7F6F6;
    float: center;
    font-size: 20px;
    margin-left: 16px;
}

.menu_items {
    list-style: none;
    background-color: #F7F6F6;
}

.first_logo_text, .second_logo_text {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #F7F6F6;
    font-size: 30px;
    color: black;
    text-align: center;
}

.first_logo_text {
    font-weight: 400;
}

.second_logo_text {
    font-weight: 700;
}

.phone_a {
    color: black;
    font-size: 20px;
    background-color: #F7F6F6;
}

@media screen and (max-width: 750px) {
    .main_list_item a {
        align-items: center;
        text-decoration: none;
        background-color: #F7F6F6;
        float: center;
        font-size: 15px;
    }
    
    .wht_list_item a, .how_must_list_item a, .connect_item a {
        align-items: center;
        text-decoration: none;
        background-color: #F7F6F6;
        float: center;
        font-size: 15px;
        margin-left: 16px;
    }

    .phone_a {
        font-size: 15px;
    }

    .first_logo_text, .second_logo_text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        text-align: center;
        background-image: url("../Assets/small_background.png");
        background-repeat: no-repeat;
        background-position: left;
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
    }
}

main {
    background-image: url("../Assets/left.png"), url("../Assets/right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-content: center;
}

main {
    background-color: transparent;
    width: 100%;
    height: auto;
}

main h1 {
    padding-top: 20px;
    background-color: transparent;
    font-weight: 700;
    font-size: 40px;
    height: 70px;
    vertical-align: center;
    text-align: center;
}

main h2 b {
    background-color: transparent;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
main h2 {
    padding-top: 25px;
    background-color: transparent;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.button_container {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.button_container a {
    text-align: center;
    text-decoration: none;
    color: #0091FF;
    padding: 10px;
    width: 400px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 400;
    border: 2px solid #0091FF;
    background-color:white;
}

main a:hover {
    background-color: #0091FF;
    color: white;
    transition-duration: 100ms;
}

.mobile_nav {
    display: none;
}

@media screen and (max-width: 769px) {
    main {
        height: auto;
    }

    
    .mobile_nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    main {
        height: 100%;
    }

    .phone_column a:hover {
        font-size: 15px;
        transition: all 0.5s ease;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: sticky;
        align-content: center;
        text-align: center;
        align-content: center;
        margin-top: 15px;
        float: center;
    }

    .line {
        border-radius: 2px;
        width: 30px;
        height: 5px;
        background-color: black;
        margin: 5px;
    }

    .menu_column {
        display: none;
    }

    .mobile_nav_bar_items {
        list-style: none;
        background-color: #F7F6F6;
        text-align: center;
        float: center;
        vertical-align: center;
        width: 100%;
    }
    
    .mobile_nav_bar_items li a {
        background-color: #F7F6F6;
        text-decoration: none;
        font-size: 30px;
        color: black;
    }

    .mobile_nav_bar_items li {
        text-decoration: none;
        background-color: #F7F6F6;;
        list-style: none;
        text-align: center;
        float: center;
        vertical-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .mobile_nav {
        display: none;
        background-color: #F7F6F6;
        background-color: transparent;
        align-items: center;
        flex-direction: row;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        height: auto;
        float: center;
    }
}